.promotion-banner-zone{
    display:flex;
    justify-content:center;
    height:230px;
    background-color: #F5F6F6;
    padding:35px 0;
    box-sizing:border-box;
    border-bottom:1px solid #D2D7D7;
}

.promotion-banner-img{
    width:930px;
    height:160px;
}
.promotion-banner-img:hover{
    cursor:pointer;
}







.filter-search-bar-zone{
    display: flex;
    justify-content:center;
    border-bottom:1px solid #D2D7D7;
}

.filter-search-bar-wrapper{
    display: flex;
    justify-content:space-between;
    width:930px;
    height:60px;
    padding:12px 0;
    box-sizing:border-box;
}


.filter-bar-recruit{
    width:105px;
    height:100%;
    border-radius:5px;
    border:1px solid #D2D7D7;
    padding:5px;
    margin-right:15px;

}
.filter-bar-field{
    width:145px;
    height:100%;
    border-radius:5px;
    border:1px solid #D2D7D7;
    padding:5px;
}


.search-bar-wrapper{
    position: relative;
    width:225px;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:0 23px;
    box-sizing:border-box;
    border-bottom: 1px solid #ABB1B1;
}

.search-icon{
    position:absolute;
    width:17px;
    height:17px;
    left:0px;
}

.close-icon{
    position:absolute;
    width:17px;
    height:17px;
    right:0px;
}

.search-bar-input{
    border:none;
    outline:none;
    width:100%;
}

.search-bar-input::placeholder{ 
    color:#a3a3a3;
    font-weight:500;
    font-size:15px;
}





.miniintern-list-wrapper{
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: #FCFDFD;
    padding-top:40px;
}

.miniintern-list{
    width:935px;
    display:flex;
    flex-wrap:wrap;
    color:#a3a3a3;
}
.miniintern-banner-overlay-background{
    background-color:#384040;
    position:absolute;
    z-index:1;
    width:inherit;
    height:inherit;
    border-radius:5px;
    display:none;
    opacity:0.5;
}
.miniintern-banner-overlay-type{
    position: absolute;
    z-index:2;
    width:120px;
    height:120px;
    margin:90px 50px;
    overflow: hidden;
    border-radius:50%;
    background-color: #6fc5ff;
    display:none;
    text-align: center;
    color: white;
}
.miniintern-banner{
    width:215px;
    height:290px;
    border-radius:5px;
    border:1px solid #D2D7D7;
    margin:0 22px 22px 0;
}
.miniintern-banner:nth-child(4n){
    margin-right:0;
}
.miniintern-banner:hover .miniintern-banner-overlay-background{
    cursor:pointer;
    display:block;
}
.miniintern-banner:hover .miniintern-banner-overlay-type{
    cursor:pointer;
    display:block;
}
.miniintern-banner-img{
    width:215px;
    height:160px;
}
.miniintern-banner-type{
    font-size:13px;
    font-weight: 400;
    margin:10px 15px;
}
.miniintern-banner-content{
    margin:0 15px 10px 15px;
    font-size:15px;
    font-weight: 400;
    line-height: 21px;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    height:42px;
   
}
.miniintern-banner-status{
    border-top:1px solid #dee3e3;
    padding:15px;
    box-sizing: border-box;
    font-size:12px;
    font-weight: 800;
}